@font-face {
  font-family: "FreeSans";
  src: url("assets/FreeSans.woff") format('woff');
}

@font-face {
  font-family: "FreeSans";
  src: url("assets/FreeSansBold.woff") format('woff');
  font-weight: bold;
}

@font-face {
  font-family: "FreeSans";
  src: url("assets/FreeSansBoldOblique.woff") format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "FreeSans";
  src: url("assets/FreeSansOblique.woff") format('woff');
  font-style: italic;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #000;
  font-family: "FreeSans", sans-serif;
  font-size: 14px;
}

body {
  background: #fff;
}

nav {
  position: fixed;
  height: fit-content;
  width: 100%;
  top: 0;
  background: #fff;
  /* box-shadow: 0px 1px; */
  z-index: 2;
}

nav .logo {
  padding-left: 18px;
  width: fit-content;
}

nav .openMenu {
  display: block;
  position: absolute;
  top: 17px;
  right: 18px;
}

nav .mainMenu {
  height: 100dvh;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: top 1s ease;
}

nav .mainMenu li {
  padding-left: 18px;
}

nav .mainMenu li a {
  line-height: 60px;
}

nav .mainMenu .closeMenu {
  display: block;
  position: absolute;
  top: 17px;
  right: 18px;
}

nav img {
  height: 26px;
  opacity: 1;
  cursor: pointer;
}

nav img:hover {
  opacity: 0.5;
  transition: .3s ease;
}

nav a:link {
  text-decoration: none;
  color: #000;
}

nav .mainMenu a:hover {
  text-decoration: underline;
  color: #000;
}

nav .mainMenu a:active {
  text-decoration: underline;
  color: #000;
}

a:link {
  color: #000;
  text-decoration: underline;
  text-underline-offset: 2px;
  transition: .3s ease;
}

a:hover {
  text-decoration: underline;
  color: #999;
}

a:visited {
  text-decoration: none;
}

main {
  margin: 0px 18px 0px;
  padding-top: 81px;
  display: block;
}

/* .fade {
  background-color: orangered;
} */

.headline {
  padding-bottom: 36px;
}

.row {
  margin-bottom: 48px;
}

.column {
  width: 100%;
  margin-bottom: 18px;
}

.gallery-row {
  margin-bottom: 36px;
}

h1 {
  font-weight: bold;
  padding-top: 12px;
}

h2 {
  font-weight: bold;
}

h3 {
  font-weight: normal;
  text-transform: uppercase;
}

h4 {
  font-weight: normal;
  text-transform: uppercase;
  line-height: 60px;
}

.accordion {
  box-shadow: 0px 1px 0px #c8c8c8;
}

/* .accordion:hover {
  background-color: #c8c8c8;
} */

.contentBox {
  position: relative;
}

.label {
  /* font-weight: bold; */
  font-size: 24px;
  padding: 12px 0px 12px 0px;
  position: relative;
  cursor: pointer;
}

.label::before {
  /* content: url(assets/add_FILL0_wght400_GRAD0_opsz24.svg); */
  content: '+';
  position: absolute;
  top: 50%;
  right: 3px;
  transform: translateY(-50%);
}

.contentBox.active .label::before {
  /* content: url(assets/remove_FILL0_wght400_GRAD0_opsz24.svg); */
  content: '–';
  position: absolute;
  top: 50%;
  right: 3px;
  transform: translateY(-50%);
}

.content {
  position: relative;
  height: 0;
  overflow: hidden;
  overflow-y: auto;
}

.contentBox.active .content {
  height: fit-content;
  padding-top: 12px;
}

p {
  color: #777;
  line-height: 1.5;
}

.title {
  color: #000;
  max-width: 100%;
}

.title:hover {
  color: #777;
}

.caption {
  max-width: 100%;
  text-align: left;
  font-size: 12px;
  font-style: italic;
}

i {
  color: #777;
}

img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.gallery:hover {
  cursor: pointer;
  filter: brightness(0.7);
  transition: .3s ease;
}

.thumbnail {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  transition: .3s ease;
}

.thumbnail:hover {
  filter: brightness(0.7);
  cursor: zoom-in;
}

/* Modal (hidden by default) */
.previewModal {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  align-items: center;
  justify-content: center;
}

#previewImage {
  object-fit: contain;
  width: 100%;
  max-height: 80%;
}

#previewImage:hover {
  cursor: default;
  filter: none;
}

#closePreview {
  position: absolute;
  top: 26px;
  right: 18px;
}

#closePreview img {
  height: 26px;
  cursor: pointer;
  filter: invert();
}

#closePreview:hover {
  opacity: 50%;
}

/* Image Preview Animation */
#previewImage {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: .3s;
  animation-name: zoom;
  animation-duration: .3s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0.5)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes zoom {
  from {
    transform: scale(0.5)
  }

  to {
    transform: scale(1)
  }
}

video {
  position: fixed;
  display: flex;
  justify-content: center;
}

.background-video {
  width: auto;
  height: 100%;
  user-select: none;
  pointer-events: none;
  filter: grayscale(0.8);
}

.responsive-video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background-color: #000;
}

.responsive-video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.responsive-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer {
  margin: 36px 0 36px;
  text-align: center;
  font-size: 12px;
}

@media only screen and (min-width: 796px) {
  nav {
    display: flex;
    justify-content: space-between;
  }

  nav .logo {
    padding-left: 48px;
  }

  nav .openMenu {
    display: none;
  }

  nav .mainMenu {
    padding: 0px 48px 0px 0px;
    height: fit-content;
    flex-wrap: wrap;
    display: inline-block;
  }

  nav .mainMenu li {
    display: inline-block;
    padding-left: 48px;
  }

  nav .mainMenu li a {
    line-height: 60px;
  }

  nav .mainMenu .closeMenu {
    display: none;
  }

  .background-video {
    width: 100%;
    height: auto;
  }

  .responsive-video video {
    position: absolute;
  }

  main {
    margin: 0 48px;
  }

  .headline {
    position: fixed;
    top: 60px;
    padding: 18px 0 18px;
    width: calc(50% - 48px);
    z-index: 1;
    background-color: #fff;
  }

  .gallery-row .left {
    float: left;
    width: 50%;
    margin-bottom: 0px;
    padding-right: 12px;
  }

  .gallery-row .right {
    float: left;
    width: 50%;
    margin-bottom: 0px;
    padding-left: 12px;
  }

  .row {
    margin: 78px 0 36px 0;
  }

  .about-row {
    padding-bottom: 36px;
  }

  .column {
    top: 160px;
    float: left;
    width: 50%;
  }

  .left {
    padding-right: 12px;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    z-index: 0;
  }

  .right {
    padding-left: 12px;
  }

  .about-column-left {
    float: left;
    width: 60%;
    padding-right: 12px;
  }

  .about-column-right {
    float: left;
    width: 40%;
    padding-left: 12px;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
  }

  .row::after {
    content: "";
    display: table;
    clear: both;
  }

  .gallery-row::after {
    content: "";
    display: table;
    clear: both;
  }

  .about-row::after {
    content: "";
    display: table;
    clear: both;
  }

  p {
    max-width: 800px;
    text-align: justify;
    text-justify: inter-word;
  }
}

@media only screen and (min-width: 1280px) {
  nav .logo {
    padding-left: 300px;
  }

  nav .mainMenu {
    padding-right: 300px;
  }

  .spaceholder {
    height: 330px;
  }

  main {
    margin: 0 300px;
  }

  .headline {
    width: calc(50% - 300px);
  }

  .label:hover {
    color: #999;
  }

  #previewImage {
    width: auto;
    max-width: 1920px;
    height: 80%;
  }
}

@media only screen and (min-width: 1920px) {
  nav .logo {
    padding-left: 400px;
  }

  nav .mainMenu {
    padding-right: 400px;
  }

  main {
    margin: 0 400px;
  }

  .headline {
    width: calc(50% - 400px);
  }
}

@media only screen and (min-width: 2560px) {
  * {
    font-size: 16px;
  }

  .caption {
    font-size: 14px;
  }

  footer {
    font-size: 14px;
  }

  nav .logo {
    padding-left: 600px;
  }

  nav .mainMenu {
    padding-right: 600px;
  }

  main {
    margin: 0 600px;
  }

  .headline {
    width: calc(50% - 600px);
  }

  .label {
    font-size: 30px;
  }
}

@media only screen and (min-width: 3840px) {
  nav .logo {
    padding-left: 800px;
  }

  nav .mainMenu {
    padding-right: 800px;
  }

  nav .mainMenu li {
    padding-left: 72px;
  }

  main {
    margin: 0 800px;
  }

  .headline {
    width: calc(50% - 800px);
  }
}