@font-face {
  font-family: "FreeSans";
  src: url("assets/FreeSans.woff") format('woff');
}

@font-face {
  font-family: "FreeSans";
  src: url("assets/FreeSansBold.woff") format('woff');
  font-weight: bold;
}

@font-face {
  font-family: "FreeSans";
  src: url("assets/FreeSansBoldOblique.woff") format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "FreeSans";
  src: url("assets/FreeSansOblique.woff") format('woff');
  font-style: italic;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #000;
  font-family: "FreeSans", sans-serif;
  font-size: 14px;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

/* ::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #999;
}

::-webkit-scrollbar-thumb:hover {
  background: #c8c8c8;
} */

body {
  background: #fff;
}

nav {
  position: fixed;
  height: 4em;
  width: 100%;
  top: 0;
  background: #fff;
  /* box-shadow: 0px 1px; */
  z-index: 2;
  padding: 0 1em 0 1em;
}

nav .logo {
  width: fit-content;
  padding-top: 1.5em;
}

nav .openMenu {
  display: block;
  position: absolute;
  top: 1em;
  right: 1em;
}

nav .mainMenu {
  height: 100dvh;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav .mainMenu li {
  margin-top: 4em;
  list-style: none;
}

nav .mainMenu li a {
  text-underline-offset: 5px;
}

nav .mainMenu .closeMenu {
  display: block;
  position: absolute;
  top: 1em;
  right: 1em;
}

nav img {
  height: 26px;
  opacity: 1;
  cursor: pointer;
}

nav a:link {
  text-decoration: none;
  color: #000;
}

nav .mainMenu a:active {
  text-decoration: underline;
  color: #000;
}

a:link {
  color: #000;
  text-decoration: underline;
  text-underline-offset: 2px;
}

a:visited {
  text-decoration: none;
}

main {
  margin: 0 1em 0;
  padding-top: 7em;
  display: block;
}

.headline {
  padding-bottom: 2em;
  line-height: 1.5;
}

.row {
  margin-bottom: 6em;
}

.column {
  width: 100%;
  margin-bottom: 1em;
}

.about-row {
  padding-bottom: 4em;
}

.gallery-row {
  margin-bottom: 2em;
}

h1 {
  padding: 0;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.5;
}

h2 {
  padding: inherit;
  font-weight: bold;
  line-height: 1.5;
}

h3 {
  padding: inherit;
  font-weight: bold;
  line-height: 1.5;
  /* text-transform: uppercase; */
}

h4 {
  padding: inherit;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1;
}

.accordion {
  box-shadow: 0px 1px 0px #c8c8c8;
}

.contentBox {
  position: relative;
}

.label {
  /* font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 5px; */
  font-size: 1.7rem;
  padding: 0.5em 0 0.5em 0;
  position: relative;
  cursor: pointer;
}

.label::before {
  content: '+';
  position: absolute;
  top: 50%;
  right: 3px;
  transform: translateY(-50%);
}

.contentBox.active .label::before {
  content: '–';
  position: absolute;
  top: 50%;
  right: 3px;
  transform: translateY(-50%);
}


.content {
  position: relative;
  height: 0;
  overflow: hidden;
  overflow-y: auto;
}

.contentBox.active .content {
  height: fit-content;
  padding-top: 1em;
}

p {
  color: #777;
  line-height: 1.5;
}

.title {
  color: #000;
  max-width: 100%;
}

.caption {
  max-width: 100%;
  text-align: left;
  font-size: 0.8rem;
  font-style: italic;
}

i {
  color: inherit;
}

img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.thumbnail {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  transition: .5s ease;
}

/* Modal (hidden by default) */
.previewModal {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  align-items: center;
  justify-content: center;
}

#previewImage {
  object-fit: contain;
  width: 100%;
  max-height: 80%;
}

#closePreview {
  position: absolute;
  top: 1em;
  right: 1em;
}

#closePreview img {
  height: 26px;
  cursor: pointer;
  filter: invert();
}

/* Image Preview Animation */
#previewImage {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: .5s;
  animation-name: zoom;
  animation-duration: .5s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0.5)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes zoom {
  from {
    transform: scale(0.5)
  }

  to {
    transform: scale(1)
  }
}

video {
  position: fixed;
  display: flex;
  justify-content: center;
}

.background-video {
  width: auto;
  height: 100%;
  user-select: none;
  pointer-events: none;
  filter: grayscale(0.8);
}

.responsive-video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background-color: #000;
}

.responsive-video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.responsive-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer {
  margin: 3em 0 3em;
  text-align: center;
  font-size: 12px;
}

@media only screen and (min-width: 796px) {
  nav {
    display: flex;
    justify-content: space-between;
    padding: 1.5em 3em 1.5em 3em;
  }

  nav .logo {
    padding-top: 0;
  }

  nav .openMenu {
    display: none;
  }

  nav .mainMenu {
    padding-top: 0;
    height: fit-content;
    display: block;
  }

  nav .mainMenu li {
    margin: 0;
    padding-left: 3em;
    display: inline-block;
  }

  nav .mainMenu .closeMenu {
    display: none;
  }

  .background-video {
    width: 100%;
    height: auto;
  }

  .responsive-video video {
    position: absolute;
  }

  main {
    margin: 0 3em;
  }

  .headline {
    position: fixed;
    top: 4em;
    padding: 2em 0 2em;
    width: calc(50% - 4em);
    z-index: 1;
    background: linear-gradient(rgba(255 255 255 / 100%) 6em, rgba(255 255 255 / 0%));
    line-height: 1.5;
  }

  .gallery-row .left {
    float: left;
    width: 50%;
    margin-bottom: 0px;
    padding-right: 1em;
  }

  .gallery-row .right {
    float: left;
    width: 50%;
    margin-bottom: 0px;
    padding-left: 1em;
  }

  .row {
    margin: 7em 0 3em 0;
  }

  .column {
    top: 14em;
    float: left;
    width: 50%;
  }

  .left {
    padding-right: 1em;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    z-index: 0;
  }

  .right {
    padding-left: 1em;
  }

  .about-column-left {
    float: left;
    width: 60%;
    padding-right: 1em;
  }

  .about-column-right {
    float: left;
    width: 40%;
    padding-left: 1em;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
  }

  .row::after {
    content: "";
    display: table;
    clear: both;
  }

  .gallery-row::after {
    content: "";
    display: table;
    clear: both;
  }

  .about-row::after {
    content: "";
    display: table;
    clear: both;
  }

  p {
    max-width: 800px;
    text-align: justify;
    text-justify: inter-word;
  }
}

@media only screen and (min-width: 1280px) {
  nav {
    padding: 1.5em 20em 1.5em 20em;
  }

  nav img:hover {
    opacity: 0.5;
    transition: .5s ease;
  }

  nav .mainMenu a:hover {
    text-decoration: underline;
    color: #000;
  }

  a:hover {
    text-decoration: underline;
    color: #999;
  }

  /* .accordion:hover {
  background-color: #c8c8c8;
} */

  .label:hover {
    color: #999;
    transition: .5s ease;
  }

  .title:hover {
    color: #777;
  }

  .gallery:hover {
    cursor: pointer;
    filter: brightness(0.7);
    transition: .5s ease;
  }

  .spaceholder {
    height: 20em;
  }

  main {
    margin: 0 20em;
  }

  .headline {
    width: calc(50% - 20em);
  }

  #previewImage {
    width: auto;
    max-width: 100%;
    height: 80%;
  }

  #previewImage:hover {
    cursor: default;
    filter: none;
  }

  .thumbnail:hover {
    filter: brightness(0.7);
    cursor: zoom-in;
  }

  #closePreview:hover {
    opacity: 50%;
  }
}

@media only screen and (min-width: 1920px) {
  nav {
    padding: 1.5em 30em 1.5em 30em;
  }

  main {
    margin: 0 30em;
  }

  .headline {
    width: calc(50% - 30em);
  }
}

@media only screen and (min-width: 2560px) {
  * {
    font-size: 16px;
  }

  .caption {
    font-size: 14px;
  }

  footer {
    font-size: 14px;
  }

  nav .logo {
    padding-left: 600px;
  }

  nav .mainMenu {
    padding-right: 600px;
  }

  main {
    margin: 0 600px;
  }

  .headline {
    width: calc(50% - 600px);
  }

  .label {
    font-size: 30px;
  }
}

@media only screen and (min-width: 3840px) {
  nav .logo {
    padding-left: 800px;
  }

  nav .mainMenu {
    padding-right: 800px;
  }

  nav .mainMenu li {
    padding-left: 72px;
  }

  main {
    margin: 0 800px;
  }

  .headline {
    width: calc(50% - 800px);
  }
}